In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
Ocene = [[1, "Una",    "Zorić",       5, 4, 2, 3, 3],
         [2, "Marta",  "Stojanović",  5, 4, 5, 5, 4],
         [3, "Ognjen", "Novaković",   3, 4, 3, 4, 4],
         [4, "Petra",  "Kaličanin",   5, 5, 5, 5, 5],
         [5, "Novak",  "Đorđević",    2, 2, 2, 3, 3],
         [6, "Đurđe",  "Martać",      1, 1, 1, 3, 1],
         [7, "Kalina", "Ognjenović",  5, 5, 4, 4, 2],
         [8, "Vanja",  "Čolović",     5, 3, 5, 4, 2]]

In [3]:
TabOcene = pd.DataFrame(Ocene)
TabOcene.columns=["Rbr", "Ime", "Prezime", "Biologija", 
                  "Istorija", "Geografija", "Fizika", "Hemija"]

In [4]:
TabOcene

   Rbr     Ime     Prezime  Biologija  Istorija  Geografija  Fizika  Hemija
0    1     Una       Zorić          5         4           2       3       3
1    2   Marta  Stojanović          5         4           5       5       4
2    3  Ognjen   Novaković          3         4           3       4       4
3    4   Petra   Kaličanin          5         5           5       5       5
4    5   Novak    Đorđević          2         2           2       3       3
5    6   Đurđe      Martać          1         1           1       3       1
6    7  Kalina  Ognjenović          5         5           4       4       2
7    8   Vanja     Čolović          5         3           5       4       2

In [5]:
#ubacivanje kolone sa prosekom svih učenika

In [6]:
TabOcene["Prosek"]= ""
TabOcene["Prosek"] = TabOcene.loc[:,"Biologija":"Hemija"].mean(axis = 1)
TabOcene

,Rbr,Ime,Prezime,Biologija,Istorija,Geografija,Fizika,Hemija,Prosek
0,1,Una,Zorić,5,4,2,3,3,3.4
1,2,Marta,Stojanović,5,4,5,5,4,4.6
2,3,Ognjen,Novaković,3,4,3,4,4,3.6
3,4,Petra,Kaličanin,5,5,5,5,5,5.0
4,5,Novak,Đorđević,2,2,2,3,3,2.4
5,6,Đurđe,Martać,1,1,1,3,1,1.4
6,7,Kalina,Ognjenović,5,5,4,4,2,4.0
7,8,Vanja,Čolović,5,3,5,4,2,3.8

In [7]:
#ubacivanje reda sa prosekom svih predmeta

In [8]:
TabOcene.loc["PR"]=""
TabOcene.loc["PR","Biologija":"Hemija"] = TabOcene.iloc[0:8, 3:8].mean()
TabOcene

   Rbr     Ime     Prezime Biologija Istorija Geografija Fizika Hemija Prosek
0    1     Una       Zorić         5        4          2      3      3    3.4
1    2   Marta  Stojanović         5        4          5      5      4    4.6
2    3  Ognjen   Novaković         3        4          3      4      4    3.6
3    4   Petra   Kaličanin         5        5          5      5      5    5.0
4    5   Novak    Đorđević         2        2          2      3      3    2.4
5    6   Đurđe      Martać         1        1          1      3      1    1.4
6    7  Kalina  Ognjenović         5        5          4      4      2    4.0
7    8   Vanja     Čolović         5        3          5      4      2    3.8
PR                             3.875      3.5      3.375  3.875    3.0