# 1.	Основне статистичке функције

In [1]:
import pandas as pd

In [2]:
Rezultati = [[1, "Una",    "Zorić",      "Ž", 161, 45, 16.32, 1.21, 25],
             [2, "Marta",  "Stanojević", "Ž", 165, 53, 15.44, 1.01, 16],
             [3, "Ognjen", "Novaković",  "M", 171, 64, 14.56, 1.10, 5],
             [4, "Petra",  "Kaličanin",  "Ž", 159, 48, 16.98, 0.89, 21],
             [5, "Novak",  "Đorđević",   "M", 175, 67, 15.01, 1.32, 28],
             [6, "Đurđe",  "Martać",     "M", 178, 65, 16.25, 1.18, 25],
             [7, "Kalina", "Ognjenović", "Ž", 170, 62, 14.38, 0.95, 25],
             [8, "Vanja",  "Čolović",    "M", 181, 72, 14.55, 0.98, 26]]

In [3]:
T = pd.DataFrame(Rezultati)
T.columns = ["R. br.", "Ime", "Prezime", "Pol", "Visina", 
                           "Težina", "Trka100", "Skok udalj", "Čučnjevi"]

In [4]:
#Prikaz podataka iz kolone

In [5]:
?

0       Una
1     Marta
2    Ognjen
3     Petra
4     Novak
5     Đurđe
6    Kalina
7     Vanja
Name: Ime, dtype: object

In [6]:
?

0    16.32
1    15.44
2    14.56
3    16.98
4    15.01
5    16.25
6    14.38
7    14.55
Name: Trka100, dtype: float64

In [7]:
#min, max, prosek. zbir podataka u koloni, broj podataka u koloni

In [9]:
?

159

In [10]:
?

181

In [11]:
?

170.0

In [12]:
?

1360

In [13]:
?

8

In [ ]:
#prosek skoka u dalj u promenljivoj Ps

In [14]:
Ps=T["Skok udalj"].???()

In [15]:
Ps

1.08

In [ ]:
#Резултат уз кратак опис помоћу наредбе print() - zaokruzi na 1 decimalu

In [16]:
print("Prosecan skok u dalj zaokruzen na 1 decimalu:", ???(Ps,???), "m")

Prosecan skok u dalj zaokruzen na 1 decimalu: 1.1 m

In [ ]:
#Primena statistickih fja na celu tabelu min i max

In [17]:
T.???()

R. br.                1
Ime              Kalina
Prezime       Kaličanin
Pol                   M
Visina              159
Težina               45
Trka100           14.38
Skok udalj         0.89
Čučnjevi              5
dtype: object

In [31]:
T.???()

R. br.               8
Ime              Đurđe
Prezime       Đorđević
Pol                  Ž
Visina             181
Težina              72
Trka100          16.98
Skok udalj        1.32
Čučnjevi            28
dtype: object

In [ ]:
#vezbanje sa strane 171

In [32]:
print("Min i max visine: ",T["?"].?(),T["?"].?())

Min i max visine:  159 181

In [33]:
print("Min i max Težina: ",T["?"].?(),T["?"].?())

Min i max Težina:  45 72

In [34]:
print("Min i max Trka100: ",T["?"].?(),T["?"].?())

Min i max Trka100:  14.38 16.98

In [35]:
print("Min i max Skok udalj: ",T["?"].?(),T["? udalj"].?())

Min i max Skok udalj:  0.89 1.32

In [36]:
print("Min i max Čučnjevi: ",T["?"].?(),T["?"].?())

Min i max Čučnjevi:  5 28

# Frekvencijska analiza

In [ ]:
#kolone Pol value_counts()

In [37]:
FP=?

In [38]:
FP

Ž    4
M    4
Name: Pol, dtype: int64