# 3.4. Analize pojedinačnih serija podataka

### Prvi zadatak
1. Napravi listu *Temperature* sa sledećim elementima: 3, 3.5, 7.5, 12.5, 17, 20, 22.5, 22.5, 19, 14, 9, 4. 
2. Izračunaj prosečnu vrednost i sačuvaj je u promenlјivoj *Prosek*.
3. Ispiši vrednost promenlјive *Prosek*  zaokruženu na dve decimale.
4. Sortiraj listu prvo u opadajućem, a zatim i u rastućem redosledu.
5. Prikaži najmanju, a zatim i najveću temperaturu uz kratke tekstualne opise.

In [8]:
temp=[3,3.5,7.5,12.5,17,20,22.5,22.5,19,14,9.4]

In [4]:
p=sum(temp)/len(temp)

In [6]:
round(p,2)

13.72

In [12]:
print(sorted(temp))

[3, 3.5, 7.5, 9.4, 12.5, 14, 17, 19, 20, 22.5, 22.5]

In [14]:
print("najmanja temp",min(temp))

najmanja temp 3

In [15]:
print("najveca temp",max(temp))

najveca temp 22.5

### Drugi zadatak
Na internetu pronađi podatke o visini najviših vrhova planina: *Zlatibor, Golija, Tara, Ovčar, Kablar, Jelica, Maljen, Suvobor, Rudnik*. 
- Sačuvaj ih u listu pod nazivom *VrhoviSrbije*. 
- Od liste napravi seriju podataka pod nazivom *Vrhovi*. 
- Pomoću odgovarajućih funkcija odredi i prikaži prosečnu visinu datih vrhova, najniži i najviši vrh. 
- U novu promenljivu izdvoj samo vrhove niže od 1000 m.

In [16]:
v=[1234,2445,3214,1332,1322]

In [17]:
import pandas as pd

/tmp/ipykernel_78/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [19]:
s=pd.Series(v)

In [20]:
s

0    1234
1    2445
2    3214
3    1332
4    1322
dtype: int64

In [21]:
s.mean()

1909.4

In [22]:
s.min()

1234

In [23]:
s.max()

3214

In [31]:
nv=s[s.values<1500]

In [32]:
nv

0    1234
3    1332
4    1322
dtype: int64

### Treći zadatak
Na internetu pronađi podatke o dužini reka: *Dunav, Sava, Drina, Zapadna Morava, Južna Morava, Tisa, Ibar, Lepenica, Đetinja, i Lim*. 
- Od podataka napravi listu pod nazivom *RekeSrbije*. 
- Od liste napravi seriju podataka *RekeKM*. 
- Iz serije *RekeKM* izdvoj samo one duže od 300 km i sačuvaj ih u promenljivu *VelikeReke*
- Seriju *RekeKM* preslikaj u seriju *RekeM* u kojoj će podaci biti izraženi u metrima. 
- Seriju *RekeM* sortiraj u rastućem redosledu.

In [1]:
R=[2888,1026,990,493,487,295,276,220,75 ]

In [3]:
import pandas as pd

In [4]:
SR=pd.Series(R)

In [5]:
VR=SR[SR.values>300]

In [6]:
VR

0    2888
1    1026
2     990
3     493
4     487
dtype: int64

In [10]:
RM=SR*1000

In [11]:
RM

0    2888000
1    1026000
2     990000
3     493000
4     487000
5     295000
6     276000
7     220000
8      75000
dtype: int64

In [12]:
RM.sort_values()

8      75000
7     220000
6     276000
5     295000
4     487000
3     493000
2     990000
1    1026000
0    2888000
dtype: int64

### Četvrti zadatak
Napravi listu *Novac* sa sledećim podacima 750, 700, 1040, 950, 830, 1180, 790, 1000.
- Od liste napravi seriju podataka *Džeparac*.
- Seriju *Džeparac* preslikaj u četiri nove serije pod nazivima *DžeparacEvri*, *DžeparacDolari*, *DžeparacFranci* и *DžeparacFunte*. Dinarski iznosi džeparca treba da u novim serijama budu pretvoreni u odgovarajuće valute.
- Prikaži vrednosti iz novih serija uz prateći tekst.

In [13]:
N=[750, 700, 1040, 950, 830, 1180, 790, 1000]

In [14]:
import pandas as pd

In [15]:
SN=pd.Series(N)

In [33]:
SE=SN/112

In [26]:
SD=SN//108

In [27]:
SF=SN//123

In [28]:
SB=SN//137

In [34]:
print("Evri",SE)

Evri 0     6.696429
1     6.250000
2     9.285714
3     8.482143
4     7.410714
5    10.535714
6     7.053571
7     8.928571
dtype: float64

In [30]:
print("Dolari",SD)

Dolari 0     6
1     6
2     9
3     8
4     7
5    10
6     7
7     9
dtype: int64

In [31]:
print("Franci",SF)

Franci 0    6
1    5
2    8
3    7
4    6
5    9
6    6
7    8
dtype: int64

In [32]:
print("Funta",SB)

Funta 0    5
1    5
2    7
3    6
4    6
5    8
6    5
7    7
dtype: int64