In [1]:
import pandas as pd

In [2]:
Rezultati = [[1, "Una",    "Zorić",      "Ž", 161, 45, 16.32, 1.21, 25],
             [2, "Marta",  "Stanojević", "Ž", 165, 53, 15.44, 1.01, 16],
             [3, "Ognjen", "Novaković",  "M", 171, 64, 14.56, 1.10, 5],
             [4, "Petra",  "Kaličanin",  "Ž", 159, 48, 16.98, 0.89, 21],
             [5, "Novak",  "Đorđević",   "M", 175, 67, 15.01, 1.32, 28],
             [6, "Đurđe",  "Martać",     "M", 178, 65, 16.25, 1.18, 25],
             [7, "Kalina", "Ognjenović", "Ž", 170, 62, 14.38, 0.95, 25],
             [8, "Vanja",  "Čolović",    "M", 181, 72, 14.55, 0.98, 26]]

In [3]:
TabelaRezultata = pd.DataFrame(Rezultati)
TabelaRezultata.columns = ["R. br.", "Ime", "Prezime", "Pol", "Visina", 
                           "Težina", "Trka100", "Skok udalj", "Čučnjevi"]

In [4]:
#Prikaz podataka iz kolone

In [5]:
TabelaRezultata["Ime"]

0       Una
1     Marta
2    Ognjen
3     Petra
4     Novak
5     Đurđe
6    Kalina
7     Vanja
Name: Ime, dtype: object

In [6]:
TabelaRezultata["Trka100"]

0    16.32
1    15.44
2    14.56
3    16.98
4    15.01
5    16.25
6    14.38
7    14.55
Name: Trka100, dtype: float64

In [7]:
#Primena osnovnih statistickih fja na kolone

In [9]:
TabelaRezultata["Visina"].min()

159

In [10]:
TabelaRezultata["Visina"].max()

181

In [11]:
TabelaRezultata["Visina"].mean()

170.0

In [12]:
TabelaRezultata["Visina"].sum()

1360

In [13]:
TabelaRezultata["Visina"].count()

8

In [14]:
Prosecniskok=TabelaRezultata["Skok udalj"].mean()

In [15]:
Prosecniskok

1.08

In [16]:
print("Prosecan skok u dalj zaokruzen na 1 decimalu:", round(Prosecniskok,1), "m")

Prosecan skok u dalj zaokruzen na 1 decimalu: 1.1 m

In [17]:
TabelaRezultata.min()

R. br.                1
Ime              Kalina
Prezime       Kaličanin
Pol                   M
Visina              159
Težina               45
Trka100           14.38
Skok udalj         0.89
Čučnjevi              5
dtype: object

In [31]:
TabelaRezultata.max()

R. br.               8
Ime              Đurđe
Prezime       Đorđević
Pol                  Ž
Visina             181
Težina              72
Trka100          16.98
Skok udalj        1.32
Čučnjevi            28
dtype: object

In [ ]:
#vezbanje sa strane 171

In [32]:
print("Min i max visine: ",TabelaRezultata["Visina"].min(),TabelaRezultata["Visina"].max())

Min i max visine:  159 181

In [33]:
print("Min i max Težina: ",TabelaRezultata["Težina"].min(),TabelaRezultata["Težina"].max())

Min i max Težina:  45 72

In [34]:
print("Min i max Trka100: ",TabelaRezultata["Trka100"].min(),TabelaRezultata["Trka100"].max())

Min i max Trka100:  14.38 16.98

In [35]:
print("Min i max Skok udalj: ",TabelaRezultata["Skok udalj"].min(),TabelaRezultata["Skok udalj"].max())

Min i max Skok udalj:  0.89 1.32

In [36]:
print("Min i max Čučnjevi: ",TabelaRezultata["Čučnjevi"].min(),TabelaRezultata["Čučnjevi"].max())

Min i max Čučnjevi:  5 28

In [ ]:
#Frekvencijska analiza kolone Pol

In [37]:
FrekvencijePolova=TabelaRezultata["Pol"].value_counts()

In [38]:
FrekvencijePolova

Ž    4
M    4
Name: Pol, dtype: int64